/* topbar */
.topbar-wrapper{
    width: 100%;
    background-color: #333;
}

.topbar-wrapper a{
    font-size: 12px;
    color: #b0b0b0;
    display: block;
}

.topbar-wrapper a:hover{
    color: #fff;
}

.topbar-wrapper .line{
    color: #424242;
    margin: 0 .3em;
}

.topbar{
    height: 40px;
    line-height: 40px;
}

.service{
    float: left;
}

.service li{
    float: left;
}

.app-wrapper{
    
    position: relative;
}

.app::after{
    display: none;
    content: "";
    height: 0px;
    width: 0px;
    border: 8px solid transparent;
    border-top: none;
    border-bottom-color: #fff;
    position:absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.app .qrcode{
    width: 124px;
    height: 0;
    background-color: #fff;
    overflow: hidden;
    line-height: 1;
    text-align: center;
    position: absolute;
    top: 40px;
    left: -40px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    transition: height 0.3s;
    z-index: 9999;
}

.app .qrcode img{
    width: 90px;
    margin: 17px 17px;
    margin-bottom: 10px;
}

.app .qrcode span{
    font-size: 14px;
    color: #000
}

.app-wrapper:hover .app::after,
.app-wrapper:hover .app .qrcode{
    height: 148px;
    display: block;
}



.shop-cart{
    float: right;
    margin-left: 20px;
    position: relative;
}

.shop-cart .shop-cart-list{
    width: 316px;
    height: 0;
    background-color: #fff;
    position: absolute;
    top: 40px;
    right: 0;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    transition: height 0.3s;
    z-index: 9999;
}

.shop-cart:hover .shop-cart-list{
    height: 120px;
}

.shop-cart a{
    width: 120px;
    background-color: #424242;
    text-align: center;
    
}

.shop-cart:hover a{
    background-color: #fff;
    color: #ff6700;
}

.user-info{
    float: right;
}

.user-info li{
    float: left;
}


/* Header */
/* logo */
.header-wrapper{
    width: 100%;
    position: relative;
}

.header{
    height: 100px;
}

.header .logo{
    width: 55px;
    height: 55px;
    float: left;
    position: relative;
    overflow: hidden;
    margin: 22.5px 0;
    text-indent: -9999px;
}

.header .logo .mi{
    width: 55px;
    height: 55px;
    background-color: #ff6700;
    background-image: url("../img/mi-logo.png");
    background-position: center;
    position: absolute;
    left: 0;
    transition: left 0.3s;
}

.header .logo .home{
    width: 55px;
    height: 55px;
    background-color: #ff6700;
    background-image: url("../img/mi-home.png");
    background-position: center;
    position: absolute;
    left: -55px;
    transition: left 0.3s;
}

.logo:hover .mi{
    left: 55px;
}

.logo:hover .home{
    left: 0px;
}

/* mid-navi */
.navi-wrapper{
    float: left;
    margin-left: 7px;
}

.navi-wrapper .nav{
    width: 792px;
    height: 100px;
    line-height: 100px;
    padding-left: 58px;
}

.navi-wrapper .nav> li{
    float: left;
}

/* left-menu */

.all-goods-wrapper{
    position: relative;
}


.navi-wrapper .left-menu{
    box-sizing: border-box;
    width: 234px;
    height: 460px;
    line-height: 1;
    position: absolute;
    background-color: rgba(0,0,0,0.6);
    z-index: 999;
    left: -120px;;
    top: 100px;
    padding: 20px 0;

}

.navi-wrapper .left-menu li a{
    display: block;
    box-sizing: border-box;
    width: 234px;
    height: 42px;
    line-height: 42px;
    color: #fff;
    font-size: 16px;
    padding: 0 30px;
}

.navi-wrapper .left-menu>li a:hover{
    background-color: #ff6700;
}

.navi-wrapper .left-menu li i{
   float: right;
   line-height: 42px;

}



.navi-wrapper .nav > li > a{
    display: block;
    font-size: 16px;
    margin-right: 20px;
}

.all-goods{
    visibility: hidden;;
}

.navi-wrapper .nav>li:not(:first-child):hover>a{
    color: #ff6700;
}

.goods-info{
    width: 100%;
    background-color: #fff;
    height: 0;
    position: absolute;
    box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3);
    top: 100px;
    left: 0;
    transition: height 0.3s;
    z-index: 9999;
}

.nav .show-goods:hover ~ .goods-info,
.nav .goods-info:hover{
    height: 230px;
    border-top: 1px solid rgb(224, 224, 224);
    
}

/* right-search */
.search-wrapper{
    width: 296px;
    height: 50px;
    float: right;
    line-height: 100px;
    margin-top: 25px;
    position: relative;
}

.search-inp{
    box-sizing: border-box;
    width: 244px;
    height: 50px;
    float: left;
    padding: 0 5px;
    border: 1px solid #b0b0b0;
    outline: none;
}

.search-btn{
    float: left;
    font-size: 16px;
    width: 52px;
    height: 50px;
    padding: 0 0;
    border: 1px solid #b0b0b0;
    border-left: none;
    background-color: #fff;
    outline: none;
}

.search-wrapper:hover .search-inp{
    border: 1px solid #7e7d7d;
}
.search-wrapper:hover .search-btn{
    border: 1px solid #7e7d7d;
    border-left: none;
}

.search-wrapper .search-btn:hover{
    background-color: #ff6700;
    color: #fff;
    border: none;
}

.search-wrapper .search-inp:focus{
    border: 1px solid #ff6700;
}

.search-wrapper .search-inp:focus+.search-btn{
    border: 1px solid #ff6700;
    border-left: none;
}

.search-wrapper .search-list{
    display: none;
    box-sizing: border-box;
    width: 244px;
    height: 150px;
    background-color: #fff;
    border: 1px solid #ff6700;
    border-top: none;
    position: absolute;
    top: 50px;
    left: 0;
}

.search-wrapper .search-inp:focus~.search-list{
    display: block;
}















