/* topbar */
.topbar-wrapper{
    width: 100%;
    height: 40px;
    line-height: 40px;
    background-color: #333;
    
}

.topbar a{
    font-size: 12px;
    color: #b0b0b0;
    display: block;
}

.topbar a:hover{
    color:#fff;
}

.topbar .line{
    font-size: 12px;
    color: #424242;
    margin: 0 8px;
}

.service, .topbar li{
    float: left;
}

.app-wrapper{
    position: relative;
}

.app-wrapper:hover .app::after,
.app-wrapper:hover .app .qrcode{
    display: block;
    height: 148px;

}

.app::after{
    display: none;
    content: "";
    width: 0px;
    height: 0px;
    border: 8px solid transparent;
    border-top: none;
    border-bottom-color: #fff;
    position:absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;

}

.app .qrcode{
    width: 124px;
    height: 0;
    overflow: hidden;
    line-height: 1;
    text-align: center;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0, 0.3);
    position: absolute;
    top: 40px;
    left: -40px;
    transition: height 0.4s;
}

.app .qrcode img{
    width: 90px;
    margin: 17px 17px;
    margin-bottom: 10px;
}

.app .qrcode span{
    font-size: 14px;
    color: #000;
}

.shop-cart, .user-info{
    float: right;
}

.shop-cart{
    margin-left: 26px;
    position: relative;
}

.shop-cart a{
    width: 120px;
    background-color: #424242;
    text-align: center;
}

.shop-cart:hover a{
    background-color: #fff;
    color: #ff6700;
}

.shop-cart i{
    margin-right: 2px;
}

.shop-cart-list{
    width: 316px;
    height: 0;
    position: absolute;
    box-shadow: 0 0 10px rgba(0,0,0, 0.3);
    right: 0;
    transition: height 0.3s;
}

.shop-cart:hover .shop-cart-list{
    height: 120px;
}


/* header */
.header{
    height: 100px;
}

.header .logo{
    float: left;
    margin: 22.5px 0;
    width: 55px;
    height: 55px;
    position: relative;
    overflow: hidden;
    text-indent: -9999px;
}

.header .logo a{
    position: absolute;
    left: 0;
    width: 55px;
    height: 55px;
    background: #ff6700;
    background-image: url(../img/mi-logo.png);
    background-position: center center;
    transition: left 0.3s;
}

.header .logo .home{
    background-image: url(../img/mi-home.png);
    left: -55px;
}

.header .logo:hover .mi{
    left: 55px;
}

.header .logo:hover .home{
    left: 0;
}