<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>用户中心</title>
	<link rel="stylesheet" type="text/css" href="/news/css/reset.css">
    <link rel="stylesheet" type="text/css" href="/news/css/jquery.pagination.css">
    <link rel="stylesheet" type="text/css" href="/news/css/main.css">
    <script type="text/javascript" src="/news/js/jquery-1.12.4.min.js"></script>
	<script type="text/javascript" src="/news/js/jquery.pagination.min.js"></script>
</head>
<body class="inframe_body">
    <div class="my_collect">
        <h3>我的收藏</h3>
        <ul class="article_list">
            {{each collectionNewsList}}
                <li><a href="/news_detail/{{$value.id}}">{{$value.title}}</a><span>{{$value.create_time | dateFormatFilter}}</span></li>
            {{/each}}

            <!-- <li><a href="#">智能音箱“不智能”：这次轮到三星语音助手Bixby被吐槽了</a><span>2018-1-17</span></li>
            <li><a href="#">智能音箱“不智能”：这次轮到三星语音助手Bixby被吐槽了</a><span>2018-1-17</span></li>
            <li><a href="#">智能音箱“不智能”：这次轮到三星语音助手Bixby被吐槽了</a><span>2018-1-17</span></li>
            <li><a href="#">智能音箱“不智能”：这次轮到三星语音助手Bixby被吐槽了</a><span>2018-1-17</span></li>
            <li><a href="#">智能音箱“不智能”：这次轮到三星语音助手Bixby被吐槽了</a><span>2018-1-17</span></li>
            <li><a href="#">智能音箱“不智能”：这次轮到三星语音助手Bixby被吐槽了</a><span>2018-1-17</span></li> -->
        </ul>



        <div id="pagination" class="page"></div>
        <script>
            $(function() {
                $("#pagination").pagination({
                    currentPage: Number({{current_page}}),
                    totalPage: Number({{totalPage}}),
                    callback: function(current) {
                        alert('ok!');
                        location.href = "http://127.0.0.1:8080/user/collect_info?p="+current;
                    }
                });

                $('.article_list li a').click(e=>{
                    e.preventDefault();

                    let news_url=e.target.href;

                    $(parent.location).attr('href',news_url);
                })
            })
        </script>

    </div>
</body>
</html>